* {
  margin: 0;
  padding: 0;
}
.main {
  
}
.img{
    width: 100vh;
}
.img1,.img2,.img3 {
    border-radius: 200px;
    width: 120px;
    height: 120px;
    position: relative;
    bottom: 550px;
    right: 500px;
}
.img2{
    border-radius: 200px;
    width: 120px;
    height: 120px;
    position: relative;
    bottom: 550px;
    right: 470px;
}
.img3{
    border-radius: 200px;
    width: 120px;
    height: 120px;
    position: relative;
    bottom: 420px;
    right: 670px;
}
.wish{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 650px;
    bottom: 700px;
}
.img4{
    width: 300px;
}
.img5{
    width: 300px;
}
.img6{
    width: 300px;
}
.img7{
    width: 300px;
}